.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap,
.flex-wrap-mobile {
  flex-wrap: wrap;
}

.mobile-hidden {
  display: none;
}

@media screen and (min-width: 576px) {
  .flex-wrap-mobile {
    flex-wrap: nowrap;
  }

  .mobile-hidden {
    display: initial;
  }
}

.w100 {
  width: 100%;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.p1 {
  padding: 1rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.p2 {
  padding: 2rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mx-auto, .img-center {
  margin-left: auto;
  margin-right: auto;
}

.shadow-highlight {
  box-shadow: 0 2px 16px 0 var(--pink);

  &:hover {
    box-shadow: 0 2px 16px 0 var(--blue);
  }
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: .875rem;
}

.text-xs {
  font-size: .75rem;
}

.uppercase {
  text-transform: uppercase;
}
