<li class="card">
  <h3 class="h5 m0">{{ page.data.title }}</h3>
  {% if page.data.author %}
    <p class="m0">Author: {{ page.data.author }}</p>
  {% endif %}
  <p class="flex m0">
    <a class="ext" class="block" href="{{ page.data.url }}" rel="nofollow noopener">
      {% if page.data.button %}
        {% set btn = ['/img/directory/', page.data.button] | join %}
      {% else %}
        {% set btn = page.data.buttonLink %}
      {% endif %}
      {% if btn %}
        <img class="block" src="{{ btn }}" title="Visit Site" width="88" height="31" alt="{{ page.data.title }} button">
      {% else %}
        [Visit Site]
      {% endif %}
    </a>
  </p>
</li>
