{# unused - see: https://github.com/ttntm/bukmark.club/issues/14#issuecomment-2423684230 #}
<p class="text-sm">
  &#9432; Last site added on <time>{{ info.mostRecentUpdate | formatDate }}</time>.
</p>
