<footer class="text-center text-sm">
  <p>The BUKMARK.CLUB was created by <a href="https://ttntm.me" rel="noopener" target="_blank">[ttntm]</a> in February 2024 while listening to MASTER BOOT RECORD and feeling nostalgic about the early days of the internet. It's inspired by many similar clubs, directories and webrings.</p>
  <p>This website was built with ♥ and 11ty. Maintained by ttntm and contributors in hopes of a better www.</p>
  <nav class="mt2">
    <ul class="flex mobile-column align-items-center justify-content-center gap1 uppercase">
      <li>
        <a href="/">[Home]</a>
      </li>
      <li>
        <a href="/directory">[Directory]</a>
      </li>
      <li>
        <a href="https://github.com/ttntm/bukmark.club" rel="noopener" target="_blank">[Source]</a>
      </li>
      <li>
        <a href="#top" title="Back to top">[^]</a>
      </li>
    </ul>
  </nav>
</footer>