<footer class="text-center text-sm">
  <p class="outro mx-auto">
    The BUKMARK.CLUB was created by <a href="https://ttntm.me" rel="noopener" target="_blank">[ttntm]</a> in February 2024 while drinking scotch, listening to MASTER BOOT RECORD and feeling nostalgic about the early days of the internet. It's inspired by many similar clubs, directories and webrings. Logo by <a href="https://sahar.design" rel="noopener" target="_blank">[shr]</a>.
  </p>
  <nav class="mt2 mb2">
    <ul class="flex mobile-column align-items-center justify-content-center gap1 uppercase">
      {% for item in site.menu %}
        <li>
          <a href="{{ item.url }}">[{{ item.label }}]</a>
        </li>
      {% endfor %}
      <li>
        <a href="https://github.com/ttntm/bukmark.club" rel="noopener" target="_blank">[Source]</a>
      </li>
      <li>
        <a href="#top" title="Back to top">[^]</a>
      </li>
    </ul>
  </nav>
  <p class="outro text-xs mx-auto mb0">
    <i>
      No cookies, no JavaScript, no ads, no tracking.
      <br>
      Site last built on <time>{{ "" | formatDate }}</time>.
    </i>
    <br><br>
    <img src="/img/made-with-11ty.gif" alt="Made with 11ty">
  </p>
</footer>
