<header>
  <div class="flex">
    <a class="logo block mx-auto mt2 mb2" href="/">
      <img class="block" src="/img/logo.svg" alt="logo" width="250">
    </a>
  </div>
  <nav>
    <ul class="flex align-items-center justify-content-center gap1">
      {% for item in site.menu %}
        <li>
          <a href="{{ item.url }}">[{{ item.label }}]</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>