<header>
  <div class="flex">
    <a class="block mx-auto my1" href="/">
      <img class="block" src="https://via.placeholder.com/250x175" alt="logo">
    </a>
  </div>
  <nav>
    <ul class="flex align-items-center justify-content-center gap1">
      <li>
        <a href="/">[Home]</a>
      </li>
      <li>
        <a href="/directory">[Directory]</a>
      </li>
      <li>
        <a href="https://github.com/ttntm/bukmark.club" rel="noopener" target="_blank">[Source]</a>
      </li>
    </ul>
  </nav>
</header>