---
title: 'Guestbuk: Success'
description: Submission successful.
layout: base.njk
permalink: /guestbuk/success/index.html
eleventyExcludeFromCollections: true
---
<h1>Success</h1>
<p class="mb2">
  THANK YOU.
  <br><br>
  We will review you submission now.
  <br><br>
  Once approved, your message will appear in the Guestbuk.
</p>
