---
isFront: true
layout: base.njk
---
<h1 class="">About This Site</h1>
<p>
  The BUKMARK.CLUB is a collection of websites from across the Internet.
  <br><br>
  To be eligible for a listing in this directory, a website must have a curated collection of bookmarks and/or links to other websites.
</p>
<h2>I'm Feeling Lucky</h2>
<p>
  Do you, now?
  <br><br>
  <a class="btn h4 shadow-highlight" href="/directory/random" title="???">Visit Random Page</a>
</p>
<h2 class="mt2">Recent Additions</h2>
<ul class="grid grid3 gap2 mt2 mb2">
  {% for page in collections.latest | reverse %}
    {% include "card.njk" %}
  {% endfor %}
  <li class="flex justify-content-center" style="width: 100%; height: 100%;">
    <span style="align-self: center;">
      <a class="btn h3 shadow-highlight" href="/directory" title="Do it... Now!">Browse&nbsp;Directory</a>
    </span>
  </li>
</ul>
{% include "directoryInfo.njk" %}
<h2 class="mt2">Get Listed</h2>
<p>
  You can find out how to get your site listed in this directory here:
  <br><br>
  <a class="btn h4 shadow-highlight" href="/join">Join the Club</a>
</p>
<h2 class="mt2">Contact Us</h2>
<p>
  Please <a href="https://github.com/ttntm/bukmark.club/issues" rel="noopener" target="_blank">[file an issue]</a> or <a href="mailto:{{ site.email }}?subject=The_Issue">[email us]</a> if you should experience any issues with this website.
</p>
<h2 class="mt2">Affiliates</h2>
<p>
  This website is listed at:
</p>
<div class="flex mobile-column gap1">
  <ul class="flex gap1">
    <li class="block">
      <a class="btn inline-block text-sm" href="https://1mb.club" target="_blank" rel="noopener">1MB Club</a>
    </li>
    <li class="block">
      <a class="btn inline-block text-sm" href="https://darktheme.club" target="_blank" rel="noopener">Darktheme Club</a>
    </li>
  </ul>
  <p class="m0">
    <a class="inline-block" title="Visit the 250KB Club page" href="https://250kb.club/bukmark-club" rel="noopener" target="_blank">
      <img
        alt="badge: proud member of the 250KB Club"
        class="block"
        src="/img/250kb_badge_dark.png"
        height="33"
      />
    </a>
  </p>
  <p class="m0">
    <a class="inline-block" title="Visit the no-JS Club" href="https://no-js.club" rel="noopener" target="_blank">
      <img
        alt="badge: proud member of the no-JS Club"
        class="block"
        src="/img/no-JS.club_badge_bright.svg"
        width="150"
      />
    </a>
  </p>
</div>
<p class="">---</p>
<p class="m0">
  <a class="btn inline-block text-sm" href="https://webring.dinhe.net/prev/https://bukmark.club">&lt;</a>&nbsp;
  <a class="btn inline-block text-sm" href="https://webring.dinhe.net">Retronaut Webring</a>&nbsp;
  <a class="btn inline-block text-sm" href="https://webring.dinhe.net/next/https://bukmark.club">&gt;</a>
</p>
