---
title: Join
description: Join thee BUKMARK.CLUB.
layout: base.njk
permalink: /join/success/index.html
eleventyExcludeFromCollections: true
---
<h1>Success</h1>
<p class="mb2">
  THANK YOU.
  <br><br>
  We will review you submission now.
  <br><br>
  If everything's fine, your website will be added to the directory.
</p>